@page
@model BuildingRecordsApp.Pages.Owners.CreateModel
@{
    ViewData["Title"] = "Create Owner";
}
<h1>Create New Owner</h1>

@* 
Owner has following fields:
int OwnerId 
Person Person // Navigation property for the person
int PersonId // Foreign key for Person
Ownership Ownership // Navigation property for ownership
int OwnershipId // Foreign key for Ownership
 *@

<form method="post">
    <div>
        <label asp-for="Owner.PersonId"></label>
        <select asp-for="Owner.PersonId" asp-items="@Model.PersonSelectList"></select>
        <span asp-validation-for="Owner.PersonId" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="Owner.OwnershipId"></label>
        <select asp-for="Owner.OwnershipId" asp-items="@Model.OwnershipSelectList"></select>
        <span asp-validation-for="Owner.OwnershipId" class="text-danger"></span>
    </div>
     <button type="submit" class="btn btn-primary">Create</button>
    <a asp-page="./Index" class="btn btn-secondary">Back to List</a>
</form>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
