@page
@model BuildingRecordsApp.Pages.CompanyTrusts.CreateModel
@{
    ViewData["Title"] = "Create Company/Trust";
}
<h1>Create Company Trust</h1>

@* 
CompanyTrust has the following properties:
int CompanyTrustId
string Name
string Address
string RegistrationNumber
ICollection<Ownership> Ownerships
 *@

<form method="post">

    @await Html.PartialAsync("_Form", Model.CompanyTrust)

    <button type="submit" class="btn btn-primary">Create</button>
    <a asp-page="./Index" class="btn btn-secondary">Back to List</a>
</form>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}