@page
@model IndexModel
@{
    ViewData["Title"] = "Units";
}

<h1>Building Records App</h1>

<div>
    <a asp-page="/Units/Index" class="btn btn-primary">Units</a>
    <a asp-page="/Persons/Index" class="btn btn-primary">Persons</a>
    <a asp-page="/AgentCompanies/Index" class="btn btn-primary">Agent Companies</a>
    <a asp-page="/Agents/Index" class="btn btn-primary">Agents</a>
    <a asp-page="/CompanyTrusts/Index" class="btn btn-primary">Company Trusts</a>
    <a asp-page="/Leases/Index" class="btn btn-primary">Leases</a>
    <a asp-page="/Occupancies/Index" class="btn btn-primary">Occupancies</a>
    <a asp-page="/Owners/Index" class="btn btn-primary">Owners</a>
    <a asp-page="/Ownerships/Index" class="btn btn-primary">Ownerships</a>
    <a asp-page="/ParkingBays/Index" class="btn btn-primary">Parking Bays</a>
    <a asp-page="/StoreRooms/Index" class="btn btn-primary">Store Rooms</a>
    <a asp-page="/TagRemoteRecords/Index" class="btn btn-primary">Tag Remote Records</a>
    <a asp-page="/Vehicles/Index" class="btn btn-primary">Vehicles</a>
</div>