@model BuildingRecordsApp.ViewModels.PersonFormViewModel

<div>
    <label asp-for="Person.Name"></label>
    <input asp-for="Person.Name" />
    <span asp-validation-for="Person.Name" class="text-danger"></span>
</div>

<div>
    <label asp-for="Person.Surname"></label>
    <input asp-for="Person.Surname" />
    <span asp-validation-for="Person.Surname" class="text-danger"></span>
</div>

<div>
    <label asp-for="Person.Email"></label>
    <input asp-for="Person.Email" />
    <span asp-validation-for="Person.Email" class="text-danger"></span>
</div>
<div>
    <label asp-for="Person.PostalAddress"></label>
    <input asp-for="Person.PostalAddress" />
    <span asp-validation-for="Person.PostalAddress" class="text-danger"></span>
</div>
<div>
    <label asp-for="Person.IdNumber"></label>
    <input asp-for="Person.IdNumber" />
    <span asp-validation-for="Person.IdNumber" class="text-danger"></span>
</div>
<div>
    <label asp-for="Person.PhoneNumber"></label>
    <input asp-for="Person.PhoneNumber" />
    <span asp-validation-for="Person.PhoneNumber" class="text-danger"></span>
</div>