@page
@model BuildingRecordsApp.Pages.Vehicles.CreateModel
@{
    ViewData["Title"] = "Create Vehicle";
}

<h1>Create New Agent</h1>

@* 
int VehicleId
string VehicleRegistration
string VehicleModel
string VehicleMake
string VehicleColor
Unit Unit // Navigation property to Unit
int UnitId // Foreign key to Unit
 *@

<form method="post">

    @await Html.PartialAsync("_Form", Model.ViewModel)

    <button type="submit" class="btn btn-primary">Create</button>
    <a asp-page="./Index" class="btn btn-secondary">Back to List</a>
</form>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}