@page
@model BuildingRecordsApp.Pages.TagRemoteRecords.CreateModel
@{
    ViewData["Title"] = "Create T&R Record";
}
<h1>Create Tag & Remote Record</h1>

@* 
TagRemoteRecord has the following properties:
int TagRemoteRecordId
int TagsOwner
int RemotesOwner
int TagsOccupant
int RemotesOccupant
int TagsAgent
int RemotesAgent
int UnitId // Foreign key to Unit
Unit Unit // Navigation property
 *@

<form method="post">
    <div class="form-group">
        <label asp-for="TagRemoteRecord.UnitId"></label>
        <select asp-for="TagRemoteRecord.UnitId" asp-items="@Model.UnitSelectList"></select>
        <span asp-validation-for="TagRemoteRecord.UnitId" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="TagRemoteRecord.TagsOwner" class="control-label"></label>
        <input asp-for="TagRemoteRecord.TagsOwner" class="form-control" />
        <span asp-validation-for="TagRemoteRecord.TagsOwner" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="TagRemoteRecord.RemotesOwner" class="control-label"></label>
        <input asp-for="TagRemoteRecord.RemotesOwner" class="form-control" />
        <span asp-validation-for="TagRemoteRecord.RemotesOwner" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="TagRemoteRecord.TagsOccupant" class="control-label"></label>
        <input asp-for="TagRemoteRecord.TagsOccupant" class="form-control" />
        <span asp-validation-for="TagRemoteRecord.TagsOccupant" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="TagRemoteRecord.RemotesOccupant" class="control-label"></label>
        <input asp-for="TagRemoteRecord.RemotesOccupant" class="form-control" />
        <span asp-validation-for="TagRemoteRecord.RemotesOccupant" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="TagRemoteRecord.TagsAgent" class="control-label"></label>
        <input asp-for="TagRemoteRecord.TagsAgent" class="form-control" />
        <span asp-validation-for="TagRemoteRecord.TagsAgent" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="TagRemoteRecord.RemotesAgent" class="control-label"></label>
        <input asp-for="TagRemoteRecord.RemotesAgent" class="form-control" />
        <span asp-validation-for="TagRemoteRecord.RemotesAgent" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Create</button>
    <a asp-page="./Index" class="btn btn-secondary">Back to List</a>
</form>