@page
@model BuildingRecordsApp.Pages.TagRemoteRecords.EditModel
@{
    ViewData["Title"] = "Edit T&R Record";
}

<h1>Edit Tags & Remote Record</h1>

<form method="post">
    <<div class="form-group">
        <label asp-for="ViewModel.UnitId"></label>
        <select asp-for="ViewModel.UnitId" asp-items="@Model.UnitSelectList" class="form-control"></select>
        <span asp-validation-for="ViewModel.UnitId" class="text-danger"></span>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>Holder</th>
                <th>Tags</th>
                <th>Remotes</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Owner</td>
                <td>
                    <input asp-for="ViewModel.TagsOwner" class="form-control" />
                    <span asp-validation-for="ViewModel.TagsOwner" class="text-danger"></span>
                </td>
                <td>
                    <input asp-for="ViewModel.RemotesOwner" class="form-control" />
                    <span asp-validation-for="ViewModel.RemotesOwner" class="text-danger"></span>
                </td>
            </tr>
            <tr>
                <td>Occupant</td>
                <td>
                    <input asp-for="ViewModel.TagsOccupant" class="form-control" />
                    <span asp-validation-for="ViewModel.TagsOccupant" class="text-danger"></span>
                </td>
                <td>
                    <input asp-for="ViewModel.RemotesOccupant" class="form-control" />
                    <span asp-validation-for="ViewModel.RemotesOccupant" class="text-danger"></span>
                </td>
            </tr>
            <tr>
                <td>Agent</td>
                <td>
                    <input asp-for="ViewModel.TagsAgent" class="form-control" />
                    <span asp-validation-for="ViewModel.TagsAgent" class="text-danger"></span>
                </td>
                <td>
                    <input asp-for="ViewModel.RemotesAgent" class="form-control" />
                    <span asp-validation-for="ViewModel.RemotesAgent" class="text-danger"></span>
                </td>
            </tr>
        </tbody>
    </table>
    <button type="submit" class="btn btn-primary">Edit</button>
    <a asp-page="./Index" class="btn btn-secondary">Back to List</a>
</form>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
