@page
@model BuildingRecordsApp.Pages.ParkingBays.CreateModel
@{
    ViewData["Title"] = "Create Parking Bay";
}

<h1>Create New Agent</h1>

@* 
ParkingBay has following fields:
int ParkingBayID
int ParkingBayNumber
int UnitID // Foreign key
Unit Unit // Navigation property
 *@

<form method="post">

    @await Html.PartialAsync("_Form", Model.ViewModel)

    <button type="submit" class="btn btn-primary">Create</button>
    <a asp-page="./Index" class="btn btn-secondary">Back to List</a>
</form>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}