@page
@model BuildingRecordsApp.Pages.ParkingBays.CreateModel
@{
    ViewData["Title"] = "Create Parking Bay";
}

<h1>Create New Agent</h1>

@* 
ParkingBay has following fields:
int ParkingBayID
int ParkingBayNumber
int UnitID // Foreign key
Unit Unit // Navigation property
 *@

<form method="post">
    <div>
        <label asp-for="ViewModel.ParkingBayNumber"></label>
        <input asp-for="ViewModel.ParkingBayNumber" />
        <span asp-validation-for="ViewModel.ParkingBayNumber" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="ViewModel.UnitID"></label>
        <select asp-for="ViewModel.UnitID" asp-items="@Model.UnitSelectList">
            <option value="">Select Unit</option>
        </select>
        <span asp-validation-for="ViewModel.UnitID" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Create</button>
    <a asp-page="./Index" class="btn btn-secondary">Back to List</a>
</form>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}