@page
@model BuildingRecordsApp.Pages.Ownerships.CreateModel
@{
    ViewData["Title"] = "Create Ownership";
}
<h1>Create New Ownership</h1>

@* 
Ownership has following fields:
int OwnershipId
string OwnershipType // e.g., "Natural", "Juristic"
string UnitId // Foreign key for Unit
Unit Unit // Navigation property for Unit
 *@

<form method="post">

    @await Html.PartialAsync("_Form", Model.ViewModel)

     <button type="submit" class="btn btn-primary">Create</button>
    <a asp-page="./Index" class="btn btn-secondary">Back to List</a>
</form>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}