@model BuildingRecordsApp.Models.AgentCompany

<div class="mb-3">
    <label asp-for="CompanyName" class="form-label"></label>
    <input asp-for="CompanyName" class="form-control" />
    <span asp-validation-for="CompanyName" class="text-danger"></span>
</div>

<div class="mb-3">
    <label asp-for="Address" class="form-label"></label>
    <input asp-for="Address" class="form-control" />
    <span asp-validation-for="Address" class="text-danger"></span>
</div>

<div class="mb-3">
    <label asp-for="RegistrationNumber" class="form-label"></label>
    <input asp-for="RegistrationNumber" class="form-control" />
    <span asp-validation-for="RegistrationNumber" class="text-danger"></span>
</div>