@model BuildingRecordsApp.ViewModels.AgentCompanyFormViewModel

<div class="mb-3">
    <label asp-for="AgentCompany.CompanyName" class="form-label"></label>
    <input asp-for="AgentCompany.CompanyName" class="form-control" />
    <span asp-validation-for="AgentCompany.CompanyName" class="text-danger"></span>
</div>

<div class="mb-3">
    <label asp-for="AgentCompany.Address" class="form-label"></label>
    <input asp-for="AgentCompany.Address" class="form-control" />
    <span asp-validation-for="AgentCompany.Address" class="text-danger"></span>
</div>

<div class="mb-3">
    <label asp-for="AgentCompany.RegistrationNumber" class="form-label"></label>
    <input asp-for="AgentCompany.RegistrationNumber" class="form-control" />
    <span asp-validation-for="AgentCompany.RegistrationNumber" class="text-danger"></span>
</div>