@page
@model BuildingRecordsApp.Pages.AgentCompanies.CreateModel
@{
    ViewData["Title"] = "Create Agent Company";
}

<h1 class="mb-4">Create New Agent Company</h1>

<form method="post" class="needs-validation" novalidate>
    
    @await Html.PartialAsync("_Form", Model.ViewModel)

     <button type="submit" class="btn btn-primary">Create</button>
    <a asp-page="./Index" class="btn btn-secondary">Back to List</a>
</form>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}