@page
@model BuildingRecordsApp.Pages.Buildings.CreateModel
@{
    ViewData["Title"] = "Create Building";
}
<h1>Create New Building</h1>

@* 
Building has the following properties:
int BuildingId
string Name
string Address
int NumberOfUnits
int NumberOfFloors
 *@

<form method="post">
    <div>
        <label asp-for="Building.Name"></label>
        <input asp-for="Building.Name" />
        <span asp-validation-for="Building.Name" class="text-danger"></span>
    </div>

    <div>
        <label asp-for="Building.Address"></label>
        <input asp-for="Building.Address" />
        <span asp-validation-for="Building.Address" class="text-danger"></span>
    </div>

    <div>
        <label asp-for="Building.NumberOfUnits"></label>
        <input asp-for="Building.NumberOfUnits" />
        <span asp-validation-for="Building.NumberOfUnits" class="text-danger"></span>
    </div>

    <div>
        <label asp-for="Building.NumberOfFloors"></label>
        <input asp-for="Building.NumberOfFloors" />
        <span asp-validation-for="Building.NumberOfFloors" class="text-danger"></span>
    </div>

     <button type="submit" class="btn btn-primary">Create</button>
    <a asp-page="./Index" class="btn btn-secondary">Back to List</a>
</form>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}