@page
@model BuildingRecordsApp.Pages.Buildings.EditModel
@{
    ViewData["Title"] = "Edit Building";
}

<h1>Edit Building</h1>

<form method="post">
    
    @await Html.PartialAsync("_Form", Model.ViewModel)

    <button type="submit" class="btn btn-primary">Edit</button>
    <a asp-page="./Index" class="btn btn-secondary">Back to List</a>
</form>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}