@page
@model BuildingRecordsApp.Pages.Units.EditModel
@{
    ViewData["Title"] = "Edit Unit";
}

<h1>Edit Unit</h1>

<form method="post">
    <div>
        <label asp-for="Unit.BuildingId"></label>
        <select asp-for="Unit.BuildingId" asp-items="@Model.BuildingSelectList">
            <option value="">Select Building</option>
        </select>
        <span asp-validation-for="Unit.BuildingId" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="Unit.UnitNumber"></label>
        <input asp-for="Unit.UnitNumber" />
        <span asp-validation-for="Unit.UnitNumber" class="text-danger"></span>
    </div>

    <div>
        <label asp-for="Unit.Bedrooms"></label>
        <input asp-for="Unit.Bedrooms" />
        <span asp-validation-for="Unit.Bedrooms" class="text-danger"></span>
    </div>

    <div>
        <label asp-for="Unit.DbInverter"></label>
        <input asp-for="Unit.DbInverter" type="checkbox" />
        <span asp-validation-for="Unit.DbInverter" class="text-danger"></span>
    </div>

    <div>
        <label asp-for="Unit.Housekeeping"></label>
        <input asp-for="Unit.Housekeeping" type="checkbox" />
        <span asp-validation-for="Unit.Housekeeping" class="text-danger"></span>
    </div>

    <div>
        <label asp-for="Unit.PetFriendly"></label>
        <input asp-for="Unit.PetFriendly" type="checkbox" />
        <span asp-validation-for="Unit.PetFriendly" class="text-danger"></span>
    </div>

    <div>
        <label asp-for="Unit.SublettingAllowed"></label>
        <input asp-for="Unit.SublettingAllowed" type="checkbox" />
        <span asp-validation-for="Unit.SublettingAllowed" class="text-danger"></span>
    </div>

    <div>
        <label asp-for="Unit.AirconditioningUnits"></label>
        <input asp-for="Unit.AirconditioningUnits" />
        <span asp-validation-for="Unit.AirconditioningUnits" class="text-danger"></span>
    </div>    

    <button type="submit" class="btn btn-primary">Edit</button>
    <a asp-page="./Index" class="btn btn-secondary">Back to List</a>

</form>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
