@page
@model BuildingRecordsApp.Pages.Occupancies.CreateModel
@{
    ViewData["Title"] = "Create Occupancy";
}
<h1>Create Occupancy</h1>

<form method="post">

    @await Html.PartialAsync("_Form", Model.ViewModel)

    <input type="submit" value="Create" class="btn btn-primary" />
    <a asp-page="./Index" class="btn btn-secondary">Back to List</a>
</form>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}