@page
@model BuildingRecordsApp.Pages.Occupancies.CreateModel
@{
    ViewData["Title"] = "Create Occupancy";
}
<h1>Create Occupancy</h1>

@* 
Occupancy has the following properties:
int OccupancyId
string OccupationType
int UnitNumber // Foreign key for Unit
Unit Unit // Navigation property for the unit
int OccupantId // Foreign key for Person
Person Occupant // Navigation property for occupant
 *@

<form method="post">
    <div class="form-group">
        <label asp-for="Occupancy.OccupationType" class="control-label"></label>
        <input asp-for="Occupancy.OccupationType" class="form-control" />
        <span asp-validation-for="Occupancy.OccupationType" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Occupancy.UnitNumber" class="control-label"></label>
        <select asp-for="Occupancy.UnitNumber" class="form-control" asp-items="@Model.UnitSelectList">
            <option value="">Select Unit</option>
        </select>
        <span asp-validation-for="Occupancy.UnitNumber" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Occupancy.OccupantId" class="control-label"></label>
        <select asp-for="Occupancy.OccupantId" class="form-control" asp-items="@Model.PersonSelectList">
            <option value="">Select Occupant</option>
        </select>
        <span asp-validation-for="Occupancy.OccupantId" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary" />
        <a asp-page="./Index" class="btn btn-secondary">Back to List</a>
    </div>
</form>